<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bs.mapper.AuditMapper">

<!--    查询审核表-->
    <select id="selaudit" resultType="com.example.bs.entity.Audit">
        select * from audit
    </select>
<!--    查询status为0的表单-->
    <select id="sel0audit" resultType="com.example.bs.entity.Audit">
        select * from audit where status=0
    </select>
<!--    添加审核单-->
    <insert id="addaudit">
        insert into audit(type,leibie,name,parther,price,quantity,money,user,createtime,status)
        values(#{type},#{leibie},#{name},#{parther},#{price},#{quantity},#{money},#{user},#{createtime},#{status})
    </insert>
<!--    审批表单-->
    <update id="upaudit" parameterType="com.example.bs.entity.Audit">
        update audit set status=#{status},reviewer=#{reviewer},reviewertime=#{reviewertime},remark=#{remark} where id=#{id}
    </update>
<!--    根据id查询审核表-->
    <select id="selid" resultType="com.example.bs.entity.Audit">
        select * from audit where id=#{id}
    </select>
<!--    获取所有类别-->
    <select id="selleibie" resultType="string">
        select distinct leibie from audit
    </select>
<!--    分类查询-->
    <select id="selaudit1" resultType="com.example.bs.entity.Audit">
        select * from audit where leibie=#{leibie}
    </select>
</mapper>