<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bs.mapper.KucunMapper">

<!--    查询库存-->
    <select id="selkucun" resultType="com.example.bs.entity.Kucun">
        select * from kucun
    </select>
<!--    添加入库 没有该物品-->
    <insert id="addkucun">
        insert into kucun(name,quantity) values(#{name},#{quantity})
    </insert>
<!--    添加入库 有该物品,出库-->
    <insert id="upkucun">
        update kucun set quantity=#{quantity} where name=#{name}
    </insert>

<!--    根据name查询库存-->
    <select id="selname" resultType="com.example.bs.entity.Kucun">
        select * from kucun where name=#{name}
    </select>

</mapper>