<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bs.mapper.RukuMapper">
<!--    查询入库单-->
    <select id="selruku" resultType="com.example.bs.entity.Ruku">
        select * from ruku
    </select>
<!--    分类查询-->
    <select id="selruku1" resultType="com.example.bs.entity.Ruku">
        select * from ruku where leibie=#{leibie}
    </select>
<!--    获取所有类别-->
    <select id="selleibie" resultType="string">
        select distinct leibie from ruku
    </select>
<!--    添加入库单-->
    <insert id="addruku">
        insert into ruku(leibie,name, supplier, price, quantity, money, rktime, user)
        values(#{leibie},#{name},#{supplier},#{price},#{quantity},#{money},#{rktime},#{user})
    </insert>
    <!-- 查询今日入库单数 -->
    <select id="jinruku" resultType="int">
        SELECT COUNT(*)
        FROM ruku
        WHERE DATE(rktime) = CURDATE()
    </select>

    <!-- 查询今日采购金额 -->
    <select id="jinpur" resultType="int">
        SELECT IFNULL(SUM(money),0)
        FROM ruku
        WHERE DATE(rktime) = CURDATE()
    </select>

    <!-- 查询本月入库单数 -->
    <select id="yueruku" resultType="int">
        SELECT COUNT(*)
        FROM ruku
        WHERE YEAR(rktime)=YEAR(CURDATE())
          AND MONTH(rktime)=MONTH(CURDATE())
    </select>

    <!-- 查询本月采购金额 -->
    <select id="yuepur" resultType="int">
        SELECT IFNULL(SUM(money),0)
        FROM ruku
        WHERE YEAR(rktime)=YEAR(CURDATE())
          AND MONTH(rktime)=MONTH(CURDATE())
    </select>

    <!-- 查询本年采购金额 -->
    <select id="yearpur" resultType="int">
        SELECT IFNULL(SUM(money),0)
        FROM ruku
        WHERE YEAR(rktime) = YEAR(CURDATE())
    </select>
</mapper>