<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bs.mapper.RukuMapper">
<!--    查询入库单-->
    <select id="selruku" resultType="com.example.bs.pojo.Ruku">
        select * from ruku
    </select>
<!--    添加入库单-->
    <insert id="addruku">
        insert into ruku(name, supplier, price, quantity, money, rktime, user) values(#{name},#{supplier},#{price},#{quantity},#{money},#{rktime},#{user})
    </insert>
</mapper>