<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bs.mapper.UserMapper">
<!--    登录 查询用户是否存在-->
    <select id="login" resultType="com.example.bs.entity.User">
        select * from user where username=#{username} and password=#{password}
    </select>

<!--    注册1 查看是否存在相同账户-->
    <select id="sel" resultType="integer">
        select count(*) from user where username = #{username}
    </select>

<!--    注册2 添加用户-->
    <insert id="res">
        insert into user(username, password) values(#{username},#{password})
    </insert>
</mapper>